{{#section 'rating-title'}}
	Tủ sách có rating cao
{{/section}}

{{#each book}}
<div class="col-md-3">
    <img src="{{bookimage}}" class="img-responsive" alt="">
    <h5 class="header-section text-center">{{username}}</h5>
    <b>Rating: </b><span>*********</span>
</div>
{{/each}}