<section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>{{{_sections.view-title}}}</h2>
                    <hr class="botton-line">
                </div>
            </div>
            <div class="row">
                {{{body}}}
            </div>
            <div class="row">
                <div class="header-section text-center">
                    <h2>{{{_sections.rating-title}}}</h2>
                    <hr class="botton-line">
                </div>
            </div>
            <div class="row">
                {{{body}}}
            </div>
        </div>
    </section>